#root {
  padding: 0;
  margin: 0;
  font-family: "NPSfont";
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: none;
  border: none;
}

button {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}

input {
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

hr {
  border: 0;
}
